# Public testnet deployment template
# Do not commit real private keys.

SEPOLIA_RPC_URL=
SEPOLIA_PRIVATE_KEY=
IOTEX_TESTNET_RPC_URL=https://babel-api.testnet.iotex.io
IOTEX_TESTNET_PRIVATE_KEY=
POLYGON_AMOY_RPC_URL=
DEPLOYER_PRIVATE_KEY=
ETHERSCAN_API_KEY=
POLYGONSCAN_API_KEY=
